// COLORS
$primary-color: #091F40;
$secondary-color: #b8862c;

$white-color: #fff;

$alt-color: #88958d;

$dark-grey: #3e6259;

$dark-blue-text: #206a77; // For Headings

// FONT SIZE
$default-font-size: 2rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
